* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.hero-section {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
}

.hero-logo {
  position: fixed;
  margin: 2em;
  color: white;
  font-family: "Cosi Azure";
  font-size: 16px;
  mix-blend-mode: difference;
  z-index: 2;
  transform: rotate(-90deg);
}

.menu-toggle {
  position: absolute;
  right: 0;
  margin: 2em;
  color: white;
  z-index: 2;
}

.menu-toggle ion-icon {
  font-style: 16px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  z-index: 2;
  opacity: 0;
}

.overlay ion-icon {
  position: absolute;
  right: 0;
  margin: 2em;
  color: white;
}

.overlay ul {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  list-style: none;
}

.overlay ul li {
  font-size: 84px;
}

.overlay ul li a {
  color: transparent;
  -webkit-text-stroke: 1px white;
  font-family: "Times New Roman";
  text-transform: uppercase !important;
}

.overlay ul li a:hover {
  text-decoration: none;
  color: white;
}

.media {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 2em;
  z-index: 3;
}

.media ul {
  list-style: none;
}

.media ul li {
  padding: 10px 0;
}

.media ul li a {
  color: white;
}

.view-photos {
  position: absolute;
  left: 0;
  bottom: 2em;
  margin: 2em;
  z-index: 3;
  transform: rotate(-90deg);
}

.view-photos a {
  color: white;
  text-decoration: underline;
  /* font-style: italic; */
}

.view-photos a:hover {
  color: white;
}

.hero-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.hero-img img {
  width: 100%;
}

.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
  word-spacing: 10px;
}

.hero-title h1 {
  font-size: 80px;
  font-weight: lighter;
  text-transform: uppercase !important;
  color: white;
  text-decoration: line-through;
}

@media (max-width: 900px) {
  .hero-title .letter {
    font-size: 38px !important;
  }
}

.hero-title .letter {
  display: inline-block;
  opacity: 0;
  font-size: 80px;
  color: white;
  font-family: "Times New Roman";
  text-transform: uppercase !important;
}

.about-section {
  padding: 120px 0;
}

.about-section h1 {
  font-size: 84px;
  font-family: "Times New Roman";
  text-transform: uppercase;
}

.about-section h2{
  font-family: Helvetica;
  padding: 8px 0;
  font-style: italic;
}

.about-section h3 {
  font-family: Helvetica;
  padding: 8px 0;
  margin-bottom: 20px;
}

.about-link {
  margin: 50px 0;
}

.about-link a {
  color: black;
  padding: 18px 36px;
  border: 1px solid black;
  font-size: 12px;
  letter-spacing: 4px;
  cursor: pointer;
}

.about-link a:hover {
  text-decoration: none;
  color: white;
  background: black;
}

.project-section {
  background: #0f0f0f;
  padding-top: 120px;
  overflow: hidden;
}

.project-section h1 {
  font-size: 84px;
  font-family: "Times New Roman";
  text-transform: uppercase;
  color: white;
}

.project-section p {
  color: grey;
  width: 100%;
}

.project-heading {
  margin-bottom: 120px;
}

.project-section ion-icon {
  color: white;
  font-size: 148px;
}

.project {
  margin: 0 !important;
  padding: 0 !important;
}

.project-name{
  font-size: 64px !important;
  font-family: "Times New Roman";
  text-transform: uppercase;
  color: white;
}

.project-img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  transition: all .9s ease-in-out;
  padding: 200px; /* Pour rendre petites les images et essayer de corriger le problème de taille */
}

.project .middle {
  transition: all .9s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project:hover .project-img {
  opacity: 0.3;
}

.project:hover .middle {
  opacity: 1;
}

.project .middle .text {
  color: white;
  font-size: 16px !important;
  padding: 16px 32px;
}

.project .text p{
  color: white;
}

.project .middle ion-icon{
  font-size: 32px;
  color: white;
}

.project .middle a{
  text-decoration: none;
}

.social-media {
  padding: 0 0;
  margin-top: 120px;
}

.social-media h1 {
  font-size: 84px;
  font-family: "Times New Roman";
  text-transform: uppercase;
}

.social-media h3 {
  font-family: Helvetica;
  padding: 8px 0;
  margin-bottom: 20px;
  font-style: italic;
  text-decoration: underline;
}

.social-icons {
  margin: 0 !important;
  padding: 0 !important;
}

.social-icons ul {
  margin: 80px 0 !important;
  padding: 0 !important;
}

.social-icons ul li {
  display: inline-block;
  list-style: none;
  padding-right: 40px;
}

.social-icons ul li a {
  color: black;
  font-style: italic;
  font-family: "Cormorant";
}

::-webkit-scrollbar{
  display: none;
}

.bands{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  z-index: 99;
}

.layer{
  background: white;
}

.layer-1{
  flex: 1;
}

.layer-2{
  flex: 1;
}

.layer-3{
  flex: 1;
}

@media (max-width: 900px) {
  .overlay ul li {
    font-size: 30px;
    padding: 10px 0;
  }
  .menu-toggle{
    right: 20px;
  }
  .media{
    right: 20px;
  }
  .about-section{
    padding: 120px 20px;
  }
  .project-section{
    padding: 120px 20px;
  }
  .project-section h1{
    font-size: 64px;
  }
  .project-name{
    font-size: 48px !important;
  }
}
